In [81]:
import pandas as pd
import graphlab as gl
from sklearn import linear_model
from sklearn.cross_validation import train_test_split
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df=pd.read_csv('data/CAX_Bidding_TRAIN_Molecule_3_4_5.csv')

In [84]:
test=pd.get_dummies(df)

In [41]:
df.head()

,ID,Account,Province,Region,Tender_Type,Offer_date,Start_date,End_date_including_extension,Length_of_contract_in_Months,Market,...,Competitor_with_6th_Lowest_Price,Competitor_6th_Lowest_Price_per_standard_unit,Competitor_with_7th_Lowest_Price,Competitor_7th_Lowest_Price_per_standard_unit,Competitor_with_8th_Lowest_Price,Competitor_8th_Lowest_Price_per_standard_unit,Competitor_with_9th_Lowest_Price,Competitor_9th_Lowest_Price_per_standard_unit,Competitor_with_10th_Lowest_Price,Competitor_10th_Lowest_Price_per_standard_unit
0,226,Account95,Provice21,Region6,Tender Type1,10-03-2008 12:00,01-01-2009,31-12-2014,36,Market3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,227,Account95,Provice21,Region6,Tender Type1,4-13-10 12:00 PM,01-05-2010,30-09-2013,20,Market3,...,Company5,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,232,Account111,Provice15,Region13,Tender Type1,04-12-2010 12:00,01-05-2010,30-06-2012,24,Market3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,240,Account91,Provice10,Region9,Tender Type1,05-10-2010 00:00,01-07-2010,30-09-2012,24,Market3,...,Company5,4.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,242,Account51,Provice32,Region7,Tender Type1,5-19-10 12:00 PM,01-08-2010,31-05-2012,12,Market3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
col=['ID','Length_of_contract_in_Months','Tender_Standard_Unit_per_year','Winning_price_per_standard_unit']

In [12]:
df1=df[col]

In [39]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 786 entries, 0 to 785
Data columns (total 4 columns):
ID                                 786 non-null int64
Length_of_contract_in_Months       786 non-null int64
Tender_Standard_Unit_per_year      786 non-null float64
Winning_price_per_standard_unit    745 non-null float64
dtypes: float64(2), int64(2)
memory usage: 30.7 KB

In [51]:
df2=df1.dropna()

In [52]:
df2.head()

,ID,Length_of_contract_in_Months,Tender_Standard_Unit_per_year,Winning_price_per_standard_unit
0,226,36,69673,1.56353
1,227,20,56966,1.56353
2,232,24,211912,1.77000
3,240,24,26050,1.77000
4,242,12,192786,1.50000

In [53]:
y=df2.as_matrix()[:,-1]

In [56]:
y.shape

(745,)

In [61]:
X=df2.as_matrix()[:,1:3]

In [55]:
X.shape

(745,)

In [62]:
X_train,X_test,y_train,y_test=train_test_split(X,y)

In [63]:
reg=linear_model.LinearRegression()

In [64]:
reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [65]:
reg.score(X_test,y_test)

0.024431241295536754

In [66]:
y_pred=reg.predict(X_test)

In [83]:
#plt.scatter(y_pred,y_test)

In [67]:
mean_squared_error(y_test,y_pred)

18.47698535629441

In [42]:
reg.coef_

array([  3.47973696e-02,  -1.45527817e-06])

In [68]:
data=gl.SFrame(df2)

In [71]:
data.column_names

<bound method SFrame.column_names of Columns:
	ID	int
	Length_of_contract_in_Months	int
	Tender_Standard_Unit_per_year	float
	Winning_price_per_standard_unit	float

Rows: 745

Data:
+-----+------------------------------+-------------------------------+-------------------------------+
|  ID | Length_of_contract_in_Months | Tender_Standard_Unit_per_year | Winning_price_per_standard... |
+-----+------------------------------+-------------------------------+-------------------------------+
| 226 |              36              |            69673.0            |            1.56353            |
| 227 |              20              |            56966.0            |            1.56353            |
| 232 |              24              |            211912.0           |              1.77             |
| 240 |              24              |            26050.0            |              1.77             |
| 242 |              12              |            192786.0           |              1.5              |
| 247 |              36              |            93142.0            |              1.45             |
| 249 |              12              |           1000500.0           |             1.812             |
| 256 |              24              |            150000.0           |              1.31             |
| 264 |              36              |             3000.0            |            1.29485            |
| 269 |              36              |            30000.0            |              1.54             |
+-----+------------------------------+-------------------------------+-------------------------------+
[745 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.>

In [76]:
feat=['Length_of_contract_in_Months']

In [ ]:
gl.linear_regression.create??

In [78]:
model=gl.linear_regression.create(data,target='Winning_price_per_standard_unit',features=feat,validation_set='auto')

PROGRESS: Creating a validation set from 5 percent of training data. This may take a while.
          You can set ``validation_set=None`` to disable validation tracking.

PROGRESS: Linear regression:
PROGRESS: --------------------------------------------------------
PROGRESS: Number of examples          : 705
PROGRESS: Number of features          : 1
PROGRESS: Number of unpacked features : 1
PROGRESS: Number of coefficients    : 2
PROGRESS: Starting Newton Method
PROGRESS: --------------------------------------------------------
PROGRESS: +-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+
PROGRESS: | Iteration | Passes   | Elapsed Time | Training-max_error | Validation-max_error | Training-rmse | Validation-rmse |
PROGRESS: +-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+
PROGRESS: | 1         | 2        | 0.001240     | 22.355732          | 17.901177            | 3.561567      | 3.206714        |
PROGRESS: +-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+

In [80]:
model.show()

Canvas is accessible via web browser at the URL: http://localhost:43902/index.html
Opening Canvas in default web browser.