In [1]:
import pandas as pd
import graphlab as gl
from sklearn import linear_model
from sklearn.cross_validation import train_test_split
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
%matplotlib inline

A newer version of GraphLab Create (v1.7.1) is available! Your current version is v1.6.1.

You can use pip to upgrade the graphlab-create package. For more information see https://dato.com/products/create/upgrade.
[INFO] This non-commercial license of GraphLab Create is assigned to singh.deep@gmail.com and will expire on October 13, 2016. For commercial licensing options, visit https://dato.com/buy/.

[INFO] Start server at: ipc:///tmp/graphlab_server-4313 - Server binary: /home/admin1/anaconda/lib/python2.7/site-packages/graphlab/unity_server - Server log: /tmp/graphlab_server_1451601832.log
[INFO] GraphLab Server Version: 1.6.1

In [2]:
df=pd.read_csv('data/CAX_Bidding_TRAIN_Molecule_3_4_5.csv')

In [3]:
df.head()

,ID,Account,Province,Region,Tender_Type,Offer_date,Start_date,End_date_including_extension,Length_of_contract_in_Months,Market,...,Competitor_with_6th_Lowest_Price,Competitor_6th_Lowest_Price_per_standard_unit,Competitor_with_7th_Lowest_Price,Competitor_7th_Lowest_Price_per_standard_unit,Competitor_with_8th_Lowest_Price,Competitor_8th_Lowest_Price_per_standard_unit,Competitor_with_9th_Lowest_Price,Competitor_9th_Lowest_Price_per_standard_unit,Competitor_with_10th_Lowest_Price,Competitor_10th_Lowest_Price_per_standard_unit
0,226,Account95,Provice21,Region6,Tender Type1,10-03-2008 12:00,01-01-2009,31-12-2014,36,Market3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,227,Account95,Provice21,Region6,Tender Type1,4-13-10 12:00 PM,01-05-2010,30-09-2013,20,Market3,...,Company5,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,232,Account111,Provice15,Region13,Tender Type1,04-12-2010 12:00,01-05-2010,30-06-2012,24,Market3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,240,Account91,Provice10,Region9,Tender Type1,05-10-2010 00:00,01-07-2010,30-09-2012,24,Market3,...,Company5,4.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,242,Account51,Provice32,Region7,Tender Type1,5-19-10 12:00 PM,01-08-2010,31-05-2012,12,Market3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df['Start_date']=pd.to_datetime(df['Start_date'])

In [9]:
df['factor']=df[df['Molecule']=='Molecule3'].apply(lambda x: )

KeyError: False

In [139]:
df['Start_date'][0].year-2006

3

In [ ]:
2009-01-01

In [6]:
col=['Winning_price_per_standard_unit','Region','Length_of_contract_in_Months']

In [7]:
df1=df[col]

In [ ]:
(d1.year - d2.year)*12 + d1.month - d2.month

In [133]:
def datefilter(startdate,loedate):
    return (startdate.year-loedate.year)*12+startdate.month-loedate.month

In [135]:
datefilter('2010-01-01','2009-01-01')

AttributeError: 'str' object has no attribute 'year'

In [235]:
#col=['Winning_Product','Winning_price_per_standard_unit','Region','Length_of_contract_in_Months']

In [ ]:
#col=['Length_of_contract_in_Months','Tender_Standard_Unit_per_year','Winning_Product','Winning_price_per_standard_unit','Region','Tender_Type','Presentation']

In [29]:
df3_new=df1[(df1['Molecule']=='Molecule3') & (df['Start_date']>='01-01-2009')]

In [30]:
df2_new=df1[(df1['Molecule']=='Molecule4') & (df['Start_date']>='01-01-2011')]

In [90]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 786 entries, 0 to 785
Data columns (total 3 columns):
Winning_price_per_standard_unit    745 non-null float64
Region                             786 non-null object
Length_of_contract_in_Months       786 non-null int64
dtypes: float64(1), int64(1), object(1)
memory usage: 24.6+ KB

In [91]:
df2=df1.dropna()

In [94]:
df2.head()

,Winning_price_per_standard_unit,Length_of_contract_in_Months,Region_Region1,Region_Region10,Region_Region11,Region_Region12,Region_Region13,Region_Region14,Region_Region15,Region_Region16,...,Region_Region19,Region_Region2,Region_Region20,Region_Region3,Region_Region4,Region_Region5,Region_Region6,Region_Region7,Region_Region8,Region_Region9
0,1.56353,36,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,1.56353,20,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,1.77000,24,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1.77000,24,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1.50000,12,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [93]:
df2=pd.get_dummies(df2)

In [95]:
y=df2.as_matrix()[:,0]

In [96]:
y.shape

(745,)

In [158]:
#df2=df2.drop('Winning_price_per_standard_unit',axis=1)

In [97]:
X=df2.as_matrix()[:,1:]

In [98]:
X.shape

(745, 21)

In [99]:
X_train,X_test,y_train,y_test=train_test_split(X,y)

In [125]:
randForest=RandomForestRegressor()

In [126]:
randForest.fit_transform(X_train,y_train)

/home/admin1/anaconda/lib/python2.7/site-packages/scikit_learn-0.17-py2.7-linux-x86_64.egg/sklearn/utils/__init__.py:93: DeprecationWarning: Function transform is deprecated; Support to use estimators as feature selectors will be removed in version 0.19. Use SelectFromModel instead.
  warnings.warn(msg, category=DeprecationWarning)

array([[ 48.,   0.,   0., ...,   0.,   0.,   0.],
       [ 36.,   1.,   0., ...,   0.,   0.,   0.],
       [ 11.,   1.,   0., ...,   0.,   0.,   0.],
       ...,
       [ 24.,   0.,   0., ...,   0.,   0.,   0.],
       [ 24.,   0.,   0., ...,   0.,   0.,   0.],
       [ 36.,   0.,   0., ...,   0.,   0.,   0.]])

In [127]:
randForest.score(X_test,y_test)

-0.17139041889540962

In [128]:
y_rand_pred=randForest.predict(X_test)

In [129]:
mean_squared_error(y_test,y_rand_pred)

8.4137107639639623

In [100]:
reg=linear_model.LinearRegression()

In [101]:
reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [102]:
reg.score(X_test,y_test)

-0.064210868372134078

In [103]:
y_pred=reg.predict(X_test)

In [83]:
#plt.scatter(y_pred,y_test)

In [104]:
mean_squared_error(y_test,y_pred)

7.6438754269421212

In [105]:
df_test=pd.read_csv('data/CAX_Bidding_TEST_Molecule_6_Post_LOE.csv')

In [106]:
df_test.head()

,ID,Account,Province,Region,Tender_Type,Offer_date,Start_date,End_date_including_extension,Length_of_contract_in_Months,Market,...,Competitor_with_6th_Lowest_Price,Competitor_6th_Lowest_Price_per_standard_unit,Competitor_with_7th_Lowest_Price,Competitor_7th_Lowest_Price_per_standard_unit,Competitor_with_8th_Lowest_Price,Competitor_8th_Lowest_Price_per_standard_unit,Competitor_with_9th_Lowest_Price,Competitor_9th_Lowest_Price_per_standard_unit,Competitor_with_10th_Lowest_Price,Competitor_10th_Lowest_Price_per_standard_unit
0,2543,Account4,Provice2,Region2,Tender Type2,2-28-11 12:00 PM,01-03-2011,30-06-2011,4,Market7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2544,Account101,Provice3,Region3,Tender Type1,2-14-11 12:00 PM,01-03-2011,28-06-2014,36,Market7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2545,Account48,Provice43,Region20,Tender Type4,05-09-2011 12:00,22-04-2011,21-07-2012,15,Market7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2546,Account4,Provice2,Region2,Tender Type4,5-16-11 12:00 PM,01-05-2011,31-12-2011,8,Market7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2548,Account15,Provice10,Region9,Tender Type1,05-09-2011 12:00,01-05-2011,31-05-2012,10,Market7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
col_test=['Region','Length_of_contract_in_Months']

In [108]:
df1_test=df_test[col_test]

In [109]:
df1_test.head()

     Region  Length_of_contract_in_Months
0   Region2                             4
1   Region3                            36
2  Region20                            15
3   Region2                             8
4   Region9                            10

In [110]:
df2_test=pd.get_dummies(df1_test)

In [111]:
df2_test.head()

,Length_of_contract_in_Months,Region_Region1,Region_Region10,Region_Region11,Region_Region12,Region_Region13,Region_Region14,Region_Region15,Region_Region16,Region_Region17,...,Region_Region19,Region_Region2,Region_Region20,Region_Region3,Region_Region4,Region_Region5,Region_Region6,Region_Region7,Region_Region8,Region_Region9
0,4,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,36,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,15,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,8,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [112]:
x_ttest=df2_test.as_matrix()

In [113]:
x_ttest.shape

(152, 21)

In [114]:
ytest_pred=reg.predict(x_ttest)

In [121]:
type(ytest_pred)

numpy.ndarray

In [122]:
import csv
b = open('test.csv', 'w')
a = csv.writer(b)
data = ytest_pred
a.writerow(data)
b.close()

In [68]:
data=gl.SFrame(df2)

In [71]:
data.column_names

<bound method SFrame.column_names of Columns:
	ID	int
	Length_of_contract_in_Months	int
	Tender_Standard_Unit_per_year	float
	Winning_price_per_standard_unit	float

Rows: 745

Data:
+-----+------------------------------+-------------------------------+-------------------------------+
|  ID | Length_of_contract_in_Months | Tender_Standard_Unit_per_year | Winning_price_per_standard... |
+-----+------------------------------+-------------------------------+-------------------------------+
| 226 |              36              |            69673.0            |            1.56353            |
| 227 |              20              |            56966.0            |            1.56353            |
| 232 |              24              |            211912.0           |              1.77             |
| 240 |              24              |            26050.0            |              1.77             |
| 242 |              12              |            192786.0           |              1.5              |
| 247 |              36              |            93142.0            |              1.45             |
| 249 |              12              |           1000500.0           |             1.812             |
| 256 |              24              |            150000.0           |              1.31             |
| 264 |              36              |             3000.0            |            1.29485            |
| 269 |              36              |            30000.0            |              1.54             |
+-----+------------------------------+-------------------------------+-------------------------------+
[745 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.>

In [76]:
feat=['Length_of_contract_in_Months']

In [ ]:
gl.linear_regression.create??

In [78]:
model=gl.linear_regression.create(data,target='Winning_price_per_standard_unit',features=feat,validation_set='auto')

PROGRESS: Creating a validation set from 5 percent of training data. This may take a while.
          You can set ``validation_set=None`` to disable validation tracking.

PROGRESS: Linear regression:
PROGRESS: --------------------------------------------------------
PROGRESS: Number of examples          : 705
PROGRESS: Number of features          : 1
PROGRESS: Number of unpacked features : 1
PROGRESS: Number of coefficients    : 2
PROGRESS: Starting Newton Method
PROGRESS: --------------------------------------------------------
PROGRESS: +-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+
PROGRESS: | Iteration | Passes   | Elapsed Time | Training-max_error | Validation-max_error | Training-rmse | Validation-rmse |
PROGRESS: +-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+
PROGRESS: | 1         | 2        | 0.001240     | 22.355732          | 17.901177            | 3.561567      | 3.206714        |
PROGRESS: +-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+

In [80]:
model.show()

Canvas is accessible via web browser at the URL: http://localhost:43902/index.html
Opening Canvas in default web browser.